/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

                                                    /* Start editing here */

body {
        background-color: hsl(133, 98%, 19%)
}

@font-face{
        font-family: 'georgia';
        src: url('fonts/Georgia.ttf');
}

body {
        background-color: lch(15.55% 28.44 142.99)
}

header{
                width: 100%;
                height: 200px;
                background-color: #246f28;
                color: white;
                padding: 0% 0%;
                border-bottom: 5px solid black;
                border-top: 5px solid black;
}

nav ul li{
       display: inline-block;
       display:inline-flex;
        text-align: center; 
        float: right;
        margin: 10px 0px 0px 0px;
        font-family: Georgia, 'Times New Roman', Times;
        font-size: 20px;
        Padding: 70px 0px 0px 0px;
        
}

nav ul li a{
        color: white;
        text-decoration: none;
        border: black 4px solid;
        border-left: black 4px solid;
        border-right: black 4px solid;
        border-top: black 4px solid;
        border-bottom: black 4px solid;
        box-sizing: border-box;
        background-color: hsl(133, 98%, 25%);
        border-radius: 0%;
        border-spacing: 0px;
        width: 200px;
        height: 125px;
        display: inline-block;
        padding: 40px 10px 10px 10px;

}

nav ul li a:hover{
        color: hsl(106, 100%, 50%);
        text-decoration: none;
        transform: scale(1.1);
        font-size: 20px;
       
}

h1, h2, h3, h4, h5, h6 {
        font-family: Georgia, 'Times New Roman', Times;
        color: white;
} 

h1{
        float: left;
}

h2{
        font-size: 75px;
        color: white; 
        font-weight: bold;
        padding: 55px 30px 0px 0px;
        text-decoration: underline;
}

h1{
        display: inline-block;
        font-size: 100px;
        color: white; 
        font-weight: bold;
        padding: 25px 0px 0px 0px;
        text-decoration: none;
}

video{
        border-bottom: 5px solid black;
}

h3{
        font-size: 60px;
        color: white; 
        font-weight: bold;
        float: center;
        padding: 50px 50px 50px 310px;
}

h4{
        font-size: 60px;
        color: white; 
        font-weight: bold;
        float: center;
        padding: 50px 100px 50px 215px;
}

#Figures {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
}

figure1, figure2, figure3, figure4 {
        font-size: 20px;
        text-align: center;
        color: white;
        padding: 15px;
        margin: 40px;
}

#infosection {
        width: 90%;
        height: 500px;
        margin: auto;
        padding: 20px 40px 40px 40px;
        background-color: hsl(133, 98%, 25%);
        border-radius: 10px;
        color: white;
}

#infosection ul li{
        display: inline-block;
        margin: auto;
        padding: 20px;
        text-align: center;
}

#infosection ul li a{
        font-size: 25px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 500px;
        height: auto;
        color: white;
        text-decoration: none;
        padding: 0px 55px 10px 20px;
}

#infosection ul li a:hover{
        color: hsl(106, 100%, 50%);
        font-size: 20px;
}

.circle {
        width: 220px; 
        height: 220px;
        background-color: white; 
        border-radius: 50%; 
        border: black 4px solid; 
        display: inline-block; 
        padding: 10px;
        opacity: 0.9;
}

footer {
        width: 100%;
        height: 150px;
        background-color: #246f28;
        color: white;
        padding: 20px 0px 0px 0px;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        text-align: center;
}

footer img {
        padding: 0px 0px 0px 0px;
}

#socialmediaicons {
        display: inline-flex;
        justify-content: left;
        width: 100px;
        height: auto;
        padding: 0px 15px 0px 15px;
}


#Instagram img {
        width: 100px;
        height: auto;

}

#Tiktok img {
        width: 100px;
        height: auto;
        padding: 16px 0px 0px 10px;
}

#Facebook img {
        width: 130px;
        height: auto;
        padding: 18px 0px 0px 0px;
}

 #Instagram, #Tiktok, #Facebook {
        display: inline-block;
        padding: 10px 0px 0px 0px;
        float: left;
}

#footertext {
        display: inline-block;
        padding: 40px 10px 0px 50px;
        float: right;
        font-size: 10px;
        text-align: left;
}

p {
        font-family: Georgia, 'Times New Roman', Times;
        color: white;
        font-size: 10px;
        width: 1000px;
        height: auto;
        text-align: center;
        display: center;
        padding: 25px 0px 50px 100px;
}